@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
    letter-spacing: -0.015em;
    /* Modern tight spacing */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-slate-900 tracking-tight font-semibold;
  }
}